<a href="https://colab.research.google.com/github/shawnka100a/Autolib-project_week-4/blob/main/Shawn_Independent_project_week_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Python Data Cleaning and Analysis - Autolib_dataset

## 1.0 Importing our Libraries

In [1]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd 

# Importing the numpy library
#
import numpy as np

## 1.1 Reading the Dataset from my CSV file



The dataset we will use contains information about availability of autolib electric vehicules


*   Dataset link for download or access: [Link](http://bit.ly/autolib_dataset)
*    N/B: Copy the link on browser to view it.

In [3]:
# Let's read the data from the CSV file and create the dataframe to be used
# 
data = '/content/Autolib_dataset (2).csv'
auto = pd.read_csv(data)

## 1.2 Previewing our Dataset

In [4]:
# Let's preview the first 10 rows of our data
# 
auto.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

## 1.3 Accessing Information about my Dataset

In [5]:
# Getting to know more about the dataset by accessing its information
# 
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

## 1.4 Cleaning my Dataset

Performing data cleaning procedures below then providing a documentation for actions and reasons.

### 1.41) Validity: <font color="green">Challenges</font>

In [ ]:
# Procedure 1: Irrelevant Data Observation
# Data Cleaning Action: Dropping Scheduled at attribute
# Explanation: We won't need it during Analysis. No question to be answered requires that column.
# 
auto.drop('Scheduled at', axis = 1, inplace = True)
#Already dropped hence the error,all is fine though if we check with the following 
#line(uncomment line below)and notice that the Scheduled at column has been dropped.
#auto.info()

In [12]:
# Procedure 2: Irrelevant Data Observation
# Data Cleaning Action: Dropping Geo point attribute
# Explanation: We won't need it during Analysis. No question to be answered requires that column.
# 
auto.drop('Geo point', axis = 1, inplace = True)

In [13]:
# Procedure 3: Irrelevant Data Observation
# Data Cleaning Action: Dropping Displayed comment attribute
# Explanation: We won't need it during Analysis. No question to be answered requires that column.
# 
auto.drop('Displayed comment', axis = 1, inplace = True)

In [19]:
# Procedure 4: Syntax Errors
# Data Cleaning Action: No actiom
# Explanation: no colums string columns had white spaces
#

In [20]:
# Procedure 5:Syntax Errors
# Data Cleaning Action: No action
# Explanation: No values had typos that needed renaming
#

### 1.42) Accuracy <font color="green">Challenges</font>

In [ ]:
# Procedure 1:Cross Dataset Errors/ In Record
# Data Cleaning Action: No action
# Explanation: No values had contradiction with any other
#

### 1.43) Completeness <font color="green">Challenges</font>

In [22]:
# Procedure 1:
# Data Cleaning Action:Check Missing values
# Explanation: checking if your dataset has missing values 
#
auto.isnull().any()

#There are no missing values

Address                False
Cars                   False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
ID                     False
Kind                   False
Postal code            False
Public name            False
Rental status          False
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [24]:
# Procedure 2:Drop missing values or Fill missing value
# Data Cleaning Action: No action needed
# Explanation: They are no missing values
#
#

### 1.44) Consitency: <font color="green">Challenges</font>

In [23]:
# Procedure 1: Duplicates
# Data Cleaning Action: No action taken
# Explanation: There were no duplicate instances
#
auto.duplicated().sum()

0

### 1.45) Uniformity: <font color="green">Challenges<font/>

In [124]:
# Procedure 1: Renaming Columns and cleaning messy columns
# Data Cleaning Action: No column needed renaming but needed cleaning
# Explanation: Setting the column names to lower case and stripping all the white
#
auto.columns = auto.columns.str.strip().str.lower()
auto.head(10)

   unnamed: 0  unnamed: 0.1  ... hour  minute
0           0             0  ...   11      43
1           1             1  ...    7      24
2           2             2  ...   20      14
3           3             3  ...    4      37
4           4             4  ...   17      23
5           5             5  ...    7       2
6           6             6  ...   18      20
7           7             7  ...   22      13
8           8             8  ...   22      58
9           9             9  ...   15       2

[10 rows x 27 columns]

In [29]:
# Procedure 2: Data Type Convertion
# Data Cleaning Action: No action taken 
# Explanation: All colums seem to be in their rightful datatype.
#

### Exporting the Cleaned Dataset

In [123]:
# Exporting the dataframe into a csv file
#
auto.to_csv('sample_data/Electric_car_sharing_in_France.csv')
auto = pd.read_csv(data)

#The cleaned dataset frame to be named auto1
data = '/content/sample_data/Electric_car_sharing_in_France.csv'
auto1 = pd.read_csv(data)

In [ ]:
auto1.head(5)

## 1.5 Answering Questions

Answering  the research questions on electric car sharing in France using our cleaned dataset and using python language.

In [131]:
#Previewing our cleaned dataframe
auto1.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [133]:
## Question 1
#Identify the most popular hour of the day for picking up a shared electric car 
#(Bluecar) in the city of Paris over the month of April 2018.
# Converting hour and minutes to a single colum representing time
auto1['time'] = (pd.to_datetime(auto1['hour'].astype(str) + ':' + auto1['minute'].astype(str), format='%H:%M')
        .dt.time)
#print(time)
#Most popular hour
auto1['time'].value_counts()[:n].index.tolist()

[datetime.time(19, 16)]

In [134]:
#Previewing our cleaned dataframe with new time column
auto1.head(5)

                              Address  Cars  ...  minute      time
0                 2 Avenue de Suffren     0  ...      43  11:43:00
1           145 Rue Raymond Losserand     6  ...      24  07:24:00
2    2 Avenue John Fitzgerald Kennedy     3  ...      14  20:14:00
3              51 Rue EugÃ¨ne OudinÃ©     3  ...      37  04:37:00
4  6 avenue de la Porte de Champerret     3  ...      23  17:23:00

[5 rows x 26 columns]

In [92]:
#Question 2
#What station is the most popular?
auto1['Address'].value_counts()[:n].index.tolist()

['8 Avenue de la Porte de Montrouge']

In [122]:
##Question 3
#What postal code is the most popular for picking up Blue cars?
#Does the most popular station belong to that postal code?
auto1['Postal code'].value_counts()[:n].index.tolist()

[75015]